<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sample Login Page
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding ion-text-center">

  <div class="logo">
    <img src='http://assets.stickpng.com/images/5848093ccef1014c0b5e48fc.png'>
    Ionic sample logo.
  </div>

  <div class="form">
    <ion-item lines='none'>
        <ion-input placeholder='Enter your email'></ion-input>
    </ion-item>

    <ion-item lines='none'>
      <ion-input placeholder='Password' type='password'></ion-input>
    </ion-item>

    <ion-button expand='block'>Login</ion-button>

</div>

  <ion-button fill='clear'>Sign-Up</ion-button>

</ion-content>
